/* IMPORT FONTS - DMSans and Mulish */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
.main__home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center;
  gap: 74px;
  font-family: "DMSans";
  font-size: 20px;
}
.main__home-alt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
  align-items: center;
  gap: 74px;
  font-family: "DMSans";
  font-size: 20px;
}

.home__wrapper {
  max-width: 460px;
}

.home__img {
  max-width: 580px;
}

.home__img-alt {
  max-width: 346px;
}

.home__title1 {
  margin-bottom: 30px;
  font-size: 80px;
  color: #19191b;
}

.home__title2 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #19191b;
}

.home__text {
  margin-bottom: 30px;
  max-width: 460px;
  color: #696871;
}

.home__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.home__button {
  padding: 20px 70px;
  margin-right: 40px;
  font-family: inherit;
  font-size: 17px;
  color: #fff;
  background: #5454d4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.home__button:hover {
  background: #2d2d6c;
  transition: all ease 0.5s;
}

.home__button-download {
  min-width: 55px;
  min-height: 55px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.home__button-download:hover {
  background: #e1e0e0;
  transition: 1ms;
}

.main__offers-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  font-family: inherit;
}
.main__logo-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  font-family: inherit;
}

.home__button-learn {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  background: #fff;
  color: #5454d4;
  border: none;
  cursor: pointer;
}

.home__button-learn:hover {
  color: #1a146b;
}

@media screen and (max-width: 1400px) {
  .main__home {
    gap: 30px;
  }
  .main__home-alt {
    gap: 30px;
  }
  .home__img {
    width: 50%;
  }
  .home__img-alt {
    width: 80%;
  }
  .home__title {
    margin-bottom: 30px;
    font-size: 80px;
    line-height: 70px;
  }
  .home__text {
    line-height: 20px;
  }
}

@media screen and (max-width: 800px) {
  .main__home {
    flex-wrap: wrap;
  }
  .main__home-alt {
    flex-wrap: wrap;
  }
  .home__wrapper {
    order: 1;
  }
  .home__title1 {
    font-size: 60px;
  }
  .home__img {
    order: 2;
    width: 100%;
  }
  .main__logo-block {
    flex-wrap: wrap;
    gap: 20px;
  }
  .main__offers-block {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
