* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

main {
    height: 100%;
    padding: 20px;
}

.main__input {
    margin-top: 20px;
    padding: 10px 8px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15 px;
}

p {
    font-size: 20px;
    font-family: "Mulish";
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}